@use './fonts.scss' as *;
@use './normalize.scss' as *;


#bg-circle-1 {
    position: absolute;
    border-radius: 50%;
    top: -10vw;
    filter: blur(10vw);
    right: -10vw;
    width: 50vw;
    height: 50vw;
    background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
    transform: rotate(-102.78deg);
    background-size: cover; 
    background-position: center;
    opacity: 0.5;
    @media (max-width: 767px) {
        filter: blur(20vw);
    }
}

#bg-circle-2 {
    position: absolute;
    filter: blur(10vw);
    background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
    transform: rotate(-102.78deg);
    background-size: cover; 
    background-position: center;
    opacity: 0.5;
    width: 50vw;
    height: 50vw;
    top: 20vw;
    left: -20vw;
    @media (max-width: 767px) {
        filter: blur(20vw);
        width: 100vw;
        height: 100vw;
    }
}

#bg-circle-3 {
    position: absolute;
    filter: blur(10vw);
    background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
    transform: rotate(-102.78deg);
    background-size: cover; 
    background-position: center;
    opacity: 0.5;
    width: 40vw;
    height: 40vw;
    bottom: -28vw;
    left: -90px;
    @media (max-width: 767px) {
        filter: blur(20vw);
        width: 100vw;
        height: 100vw;
        bottom: -40vw;
    }
}

.head {
    &__wrapper {
        max-width: 1375px;
        margin: 0 auto;
        position: relative;
        margin-top: 250px;
        @media (max-width: 800px) {
            margin-top: 100px;
        }
    }

    &__description {
        position: absolute;
        bottom: 20px;
        right: 170px;
        @include p16;
        width: 450px;
        @media (max-width: 1120px) {
            position: relative;
            bottom: 0;
            right: 0;
        }
        @media (max-width: 520px) {
            position: relative;
            bottom: 0;
            right: 0;
            width: 250px;
        }
    }
}

.technical-directions {
    &__title {
        margin-bottom: 50px;
    }

    &__wrapper {
        max-width: 1375px;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        flex: 0 0 445px;
        box-sizing: border-box;
        background-color: #030303;
        padding: 36px;
        border: 2px solid #FEFEFE;
        transition: background 0.3s ease-in-out;

        &:hover {
            background: linear-gradient(90deg, rgba(70, 70, 251, 0.5) 0%, rgba(190, 77, 255, 0.5) 100%);
        }

        @media (max-width: 1200px) {
            flex: 1 1 calc(50% - 20px);
        }

        @media (max-width: 768px) {
            flex: 1 1 50%;
            padding: 16px;
        }

        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
        }
    } 

    &__link {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &-description {
        margin-top: auto;
    }

    &__item-image {
        width: 50px;
        height: 50px;
    }
    &__item-description {
        @include p16;
    }
}