@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BoldItalic.eot");
  src: local("Gotham Pro Bold Italic"), local("GothamPro-BoldItalic"), url("../fonts/GothamPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BoldItalic.woff") format("woff"), url("../fonts/GothamPro-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Italic.eot");
  src: local("Gotham Pro Italic"), local("GothamPro-Italic"), url("../fonts/GothamPro-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Italic.woff") format("woff"), url("../fonts/GothamPro-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Medium.eot");
  src: local("Gotham Pro Medium"), local("GothamPro-Medium"), url("../fonts/GothamPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-BlackItalic.eot");
  src: local("Gotham Pro Black Italic"), local("GothamPro-BlackItalic"), url("../fonts/GothamPro-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-BlackItalic.woff") format("woff"), url("../fonts/GothamPro-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Bold.eot");
  src: local("Gotham Pro Bold"), local("GothamPro-Bold"), url("../fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Bold.eot");
  src: local("Gotham Pro Narrow Bold"), local("GothamProNarrow-Bold"), url("../fonts/GothamProNarrow-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Bold.woff") format("woff"), url("../fonts/GothamProNarrow-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro Narrow";
  src: url("../fonts/GothamProNarrow-Medium.eot");
  src: local("Gotham Pro Narrow Medium"), local("GothamProNarrow-Medium"), url("../fonts/GothamProNarrow-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamProNarrow-Medium.woff") format("woff"), url("../fonts/GothamProNarrow-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-LightItalic.eot");
  src: local("Gotham Pro Light Italic"), local("GothamPro-LightItalic"), url("../fonts/GothamPro-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-LightItalic.woff") format("woff"), url("../fonts/GothamPro-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Light.eot");
  src: local("Gotham Pro Light"), local("GothamPro-Light"), url("../fonts/GothamPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-Black.eot");
  src: local("Gotham Pro Black"), local("GothamPro-Black"), url("../fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro.eot");
  src: local("Gotham Pro"), local("GothamPro"), url("../fonts/GothamPro.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamPro-MediumItalic.eot");
  src: local("Gotham Pro Medium Italic"), local("GothamPro-MediumItalic"), url("../fonts/GothamPro-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro-MediumItalic.woff") format("woff"), url("../fonts/GothamPro-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-family: Gotham Pro;
  font-weight: 700;
  line-height: 100%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  h1 {
    font-size: calc(24px + 3vw);
  }
}
@media (min-width: 500px) {
  h1 {
    font-size: calc(60px + 1vw);
  }
}
@media (min-width: 1120px) {
  h1 {
    font-size: calc(120px + 1.5vw);
  }
}

h2 {
  font-family: Gotham Pro;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  h2 {
    font-size: calc(20px + 1vw);
  }
}
@media (min-width: 900px) {
  h2 {
    font-size: calc(30px + 0.75vw);
  }
}

h3 {
  font-family: Gotham Pro;
  font-weight: 500;
  line-height: 120%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  h3 {
    font-size: calc(12px + 0.5vw);
  }
}
@media (min-width: 900px) {
  h3 {
    font-size: calc(18px + 0.25vw);
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Gotham Pro;
  color: #FEFEFE;
  position: relative;
  box-sizing: border-box;
}

body {
  background-color: #030303;
  z-index: 10;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

.style {
  position: absolute;
  top: -20vw;
  left: -20vw;
  display: block;
  width: 100vw;
  height: 60vw;
  transform: rotate(-31.48deg);
  box-sizing: inherit;
}
@media (max-width: 800px) {
  .style {
    top: 0;
  }
}

section {
  margin-bottom: 150px;
}
@media (max-width: 1400px) {
  section {
    padding: 10px;
    margin-bottom: 140px;
  }
}
@media (max-width: 900px) {
  section {
    padding: 10px;
    margin-bottom: 80px;
  }
}

.header {
  background-color: rgba(254, 254, 254, 0.0509803922);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.header__block {
  display: flex;
}
.header__logo {
  width: 185px;
}
@media (max-width: 767px) {
  .header__logo {
    width: 115px;
    height: 33px;
  }
}
.header__wrapper {
  display: flex;
  max-width: 1375px;
  margin: 0 auto;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__wrapper {
    display: flex;
    max-width: 1310px;
    margin: 0 auto;
  }
}
.header__subnav {
  display: none;
  position: absolute;
  background-color: #030303;
  border-radius: 4px;
  z-index: 1000;
  top: 128%;
  left: 42%;
}
.header__subnav--second {
  display: none;
  position: absolute;
  background-color: #030303;
  border-radius: 4px;
  z-index: 1000;
  top: 128%;
  left: 82%;
  width: 40%;
}
.header__burger {
  display: none;
  justify-content: center;
}
@media (max-width: 1024px) {
  .header__burger {
    display: flex;
    width: 30px;
  }
}
@media (max-width: 767px) {
  .header__burger {
    display: flex;
    width: 50px;
  }
}
.header__nav {
  display: flex;
  gap: 57px;
  align-items: center;
  margin-right: 110px;
}
@media (max-width: 1024px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  color: #FEFEFE;
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .header__nav-link {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .header__nav-link {
    font-size: calc(12px + 0.25vw);
  }
}
.header__nav-link--active {
  font-weight: 700;
}
.header__nav-link:hover {
  color: #A684FF;
}
.header__nav-link--dropdown {
  cursor: pointer;
  position: relative;
  background: none;
  border: none;
}
.header__subnav-link {
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .header__subnav-link {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .header__subnav-link {
    font-size: calc(12px + 0.25vw);
  }
}
.header__subnav-link:hover {
  background-color: #490EBA;
}
.header__menu {
  width: 50px;
}
@media (max-width: 1024px) {
  .header__menu {
    width: 30px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    width: 20px;
  }
}

@media (max-width: 1000px) {
  .header__nav {
    display: none;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #000;
  transition: right 0.3s ease;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  overflow-y: auto;
}
.sidebar.open {
  right: 0;
}
.sidebar__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}
.sidebar__nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.sidebar__nav-link {
  color: #fff;
  text-decoration: none;
  background: none;
  border: none;
  font-family: Gotham Pro;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  transition: font-size 0.5s ease;
  padding: 15px 20px;
  width: 100%;
}
@media (min-width: 320px) {
  .sidebar__nav-link {
    font-size: calc(16px + 0.75vw);
  }
}
@media (min-width: 900px) {
  .sidebar__nav-link {
    font-size: calc(24px + 0.5vw);
  }
}
.sidebar__nav-link--dropdown {
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar__nav-link--dropdown .arrow {
  margin-left: 8px;
  transition: transform 0.3s;
}
.sidebar__nav-link--dropdown.active .arrow {
  transform: rotate(180deg);
}
.sidebar__nav-link--dropdown:hover + .sidebar__subnav {
  display: flex;
}
.sidebar__subnav {
  display: none;
  flex-direction: column;
  background-color: #490EBA;
  width: 100%;
  font-family: Gotham Pro;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .sidebar__subnav {
    font-size: calc(16px + 0.75vw);
  }
}
@media (min-width: 900px) {
  .sidebar__subnav {
    font-size: calc(24px + 0.5vw);
  }
}
.sidebar__subnav-link {
  color: #fff;
  text-decoration: none;
  padding: 20px 20px;
}
.sidebar__subnav-link:hover {
  background-color: #6B4EFF;
}

.footer {
  background-color: #030303;
}
@media (max-width: 1100px) {
  .footer {
    padding: 10px;
  }
}
.footer__wrapper {
  max-width: 1375px;
  margin: 0 auto;
  padding: 60px 0 100px 0;
}
@media (max-width: 1100px) {
  .footer__wrapper {
    padding: 10px;
  }
}
.footer__list {
  display: flex;
  gap: 200px;
}
@media (max-width: 500px) {
  .footer__list {
    flex-direction: column;
    gap: 40px;
  }
}
.footer__item-second {
  display: flex;
  gap: 200px;
}
@media (max-width: 1100px) {
  .footer__item-second {
    flex-direction: column;
    gap: 20px;
  }
}
.footer__contact-item, .footer__contact-method {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__contact-method {
  display: flex;
}
.footer__logo-link {
  margin-bottom: 20px;
}
.footer__contact-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__title {
  font-family: Gotham Pro;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  transition: font-size 0.5s ease;
  margin-bottom: 20px;
}
@media (min-width: 320px) {
  .footer__title {
    font-size: calc(12px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .footer__title {
    font-size: calc(18px + 0.375vw);
  }
}
.footer__text {
  margin-bottom: 10px;
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .footer__text {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .footer__text {
    font-size: calc(12px + 0.25vw);
  }
}
.footer__contact-text {
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .footer__contact-text {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .footer__contact-text {
    font-size: calc(12px + 0.25vw);
  }
}

#bg-circle-1 {
  position: absolute;
  border-radius: 50%;
  top: -10vw;
  filter: blur(10vw);
  right: -10vw;
  width: 50vw;
  height: 50vw;
  background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
  transform: rotate(-102.78deg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
}
@media (max-width: 767px) {
  #bg-circle-1 {
    filter: blur(20vw);
  }
}

#bg-circle-2 {
  position: absolute;
  filter: blur(10vw);
  background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
  transform: rotate(-102.78deg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  width: 50vw;
  height: 50vw;
  top: 20vw;
  left: -20vw;
}
@media (max-width: 767px) {
  #bg-circle-2 {
    filter: blur(20vw);
    width: 100vw;
    height: 100vw;
  }
}

#bg-circle-3 {
  position: absolute;
  filter: blur(10vw);
  background: linear-gradient(180deg, #000887 0%, #740A89 85.67%);
  transform: rotate(-102.78deg);
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  width: 40vw;
  height: 40vw;
  bottom: -28vw;
  left: -90px;
}
@media (max-width: 767px) {
  #bg-circle-3 {
    filter: blur(20vw);
    width: 100vw;
    height: 100vw;
    bottom: -40vw;
  }
}

.head__wrapper {
  max-width: 1375px;
  margin: 0 auto;
  position: relative;
  margin-top: 250px;
}
@media (max-width: 800px) {
  .head__wrapper {
    margin-top: 100px;
  }
}
.head__description {
  position: absolute;
  bottom: 20px;
  right: 170px;
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
  width: 450px;
}
@media (min-width: 320px) {
  .head__description {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .head__description {
    font-size: calc(12px + 0.25vw);
  }
}
@media (max-width: 1120px) {
  .head__description {
    position: relative;
    bottom: 0;
    right: 0;
  }
}
@media (max-width: 520px) {
  .head__description {
    position: relative;
    bottom: 0;
    right: 0;
    width: 250px;
  }
}

.technical-directions__title {
  margin-bottom: 50px;
}
.technical-directions__wrapper {
  max-width: 1375px;
  margin: 0 auto;
}
.technical-directions__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.technical-directions__item {
  flex: 0 0 445px;
  box-sizing: border-box;
  background-color: #030303;
  padding: 36px;
  border: 2px solid #FEFEFE;
  transition: background 0.3s ease-in-out;
}
.technical-directions__item:hover {
  background: linear-gradient(90deg, rgba(70, 70, 251, 0.5) 0%, rgba(190, 77, 255, 0.5) 100%);
}
@media (max-width: 1200px) {
  .technical-directions__item {
    flex: 1 1 calc(50% - 20px);
  }
}
@media (max-width: 768px) {
  .technical-directions__item {
    flex: 1 1 50%;
    padding: 16px;
  }
}
.technical-directions__item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.technical-directions__link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.technical-directions-description {
  margin-top: auto;
}
.technical-directions__item-image {
  width: 50px;
  height: 50px;
}
.technical-directions__item-description {
  font-family: Gotham Pro;
  font-weight: 400;
  line-height: 140%;
  transition: font-size 0.5s ease;
}
@media (min-width: 320px) {
  .technical-directions__item-description {
    font-size: calc(10px + 0.5vw);
  }
}
@media (min-width: 900px) {
  .technical-directions__item-description {
    font-size: calc(12px + 0.25vw);
  }
}/*# sourceMappingURL=result.css.map */